.github/**
.vscode/**
.vscode-test/**
.all-contributorsrc
.gitignore
.prettierrc.json
package-lock.json
regex.md
shared.webpack.config.js
tslint.json
tsconfig-lint.json
**/*.ts
**/*spec.js
**/*spec.js.map
**/tsconfig.json
**/webpack.config.js
test/**
idl/helpers/**
idl/test/**
node_modules/**
tests/**
make-i18n/**
client/README.md
client/env.testing.js
client/idl.extension.host.log
client/tslint.json
client/package.json
client/package-lock.json
client/src/**
client/.nyc_output/**
client/coverage/**
client/dist/test/**
client/node_modules/**
server/README.md
server/tslint.json
server/package.json
server/package-lock.json
server/src/**
server/routines/**
server/node_modules/**