.vscode/**
.vscode-test/**
.all-contributorsrc
.gitignore
vsc-extension-quickstart.md
**/*.ts
**/tsconfig.json
**/webpack.config.js
test/**
idl/**
node_modules/**
tests/**
client/README.md
client/package.json
client/package-lock.json
client/src/**
server/README.md
server/package.json
server/package-lock.json
server/src/**
server/node_modules/**